[submodule "Office-DDE-Payloads"]
	path = Office-DDE-Payloads
	url = https://github.com/0xdeadbeefJERKY/Office-DDE-Payloads
[submodule "CACTUSTORCH_DDEAUTO"]
	path = CACTUSTORCH_DDEAUTO
	url = https://github.com/xillwillx/CACTUSTORCH_DDEAUTO
[submodule "wePWNise"]
	path = wePWNise
	url = https://github.com/mwrlabs/wePWNise
[submodule "macro_pack"]
	path = macro_pack
	url = https://github.com/sevagas/macro_pack
[submodule "macphish"]
	path = macphish
	url = https://github.com/cldrn/macphish
[submodule "Microsploit"]
	path = Microsploit
	url = https://github.com/Screetsec/Microsploit
[submodule "CVE-2017-11882"]
	path = CVE-2017-11882
	url = https://github.com/embedi/CVE-2017-11882
[submodule "CVE-2017-0199"]
	path = CVE-2017-0199
	url = https://github.com/bhdresh/CVE-2017-0199
[submodule "CVE-2017-8759"]
	path = CVE-2017-8759
	url = https://github.com/bhdresh/CVE-2017-8759
[submodule "Commentator"]
	path = Commentator
	url = https://github.com/clr2of8/Commentator
